.pix {border-style:solid;
border-width:20px;
border-color:#000000;
}
.projects-section .featured-text
{padding:0 0 0 2rem;border-left:.5rem solid #fff}
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background:  url("../img/spiral.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.bigtext {
    font-size: 10rem;
    font-weight: 600;
    color: #0000ff;
}